:root {
  --body: #333333;
  --bodySecondary: #120f13;
  --text: #e0e0e0;
  --textSecondary: #828282;

  --buttonText: #f2f2f2;
  --buttonBackground: #2f80ed;

  --popupText: #e0e0e0;
  --popupBackground: #252329;
  --popupActive: #3c393f;

  --inputText: #e0e0e0;
  --inputPlaceholder: #828282;
  --inputBackground: #3c393f;

  --chanelInitials: #ffffff;
  --chanelName: #bdbdbd;

  --logoutText: #eb5757;
}
